@font-face {
  font-family: "LaNote";
  src: url("../fonts/MaShanZheng-Regular.ttf");
}

@font-face {
  font-family: "LaNote--Menu";
  src: url("../fonts/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "LeDelice";
  src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "ThirdMenu";
  src: url("../fonts/Caveat-Regular.ttf");
}

@font-face {
  font-family: "LaPalette";
  src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}

@font-face {
  font-family: "ForthMenu";
  src: url("../fonts/Sacramento-Regular.ttf");
}

/* line 31, ../../P3_Radacina_Brandy/sass/style.scss */
body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

/* line 37, ../../P3_Radacina_Brandy/sass/style.scss */
header {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  margin-top: -21px;
}

/* line 42, ../../P3_Radacina_Brandy/sass/style.scss */
header .logo {
  text-align: center;
  line-height: 3em;
}

/* line 46, ../../P3_Radacina_Brandy/sass/style.scss */
header a {
  color: #fdcb46;
}

/* line 51, ../../P3_Radacina_Brandy/sass/style.scss */
main {
  display: block;
}

/* line 54, ../../P3_Radacina_Brandy/sass/style.scss */
.les__menu {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 65%;
  margin: auto;
}

/* line 61, ../../P3_Radacina_Brandy/sass/style.scss */
.img__HomeNote {
  margin-bottom: -50px;
}

/* line 64, ../../P3_Radacina_Brandy/sass/style.scss */
.container__home {
  display: flex;
  text-align: center;
  width: 400px;
  height: 650px;
  margin: 15px;
  font-size: 20px;
  box-shadow: 0px 3px 15px 4px #0000003f;
}

/* line 72, ../../P3_Radacina_Brandy/sass/style.scss */
.container__home:hover {
  box-shadow: 0px 3px 15px 6px #00000025;
}

/* line 76, ../../P3_Radacina_Brandy/sass/style.scss */
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

/* line 85, ../../P3_Radacina_Brandy/sass/style.scss */
#laNoteEnchantee {
  background-color: #fcdfdb;
}

/* line 87, ../../P3_Radacina_Brandy/sass/style.scss */
#laNoteEnchantee h1 {
  color: #4e252a;
  font-family: "LaNote";
  font-size: 25px;
  letter-spacing: 1px;
}

/* line 90, ../../P3_Radacina_Brandy/sass/style.scss */
#laNoteEnchantee p {
  color: #461c22;
  font-family: 'Helvetica', cursive;
  font-size: 25px;
  font-weight: bolder;
}

/* line 94, ../../P3_Radacina_Brandy/sass/style.scss */
#leChicALaFrancaise {
  background-color: #fff5fe;
}

/* line 96, ../../P3_Radacina_Brandy/sass/style.scss */
#leChicALaFrancaise h2 {
  background: radial-gradient(circle at top left, #C77427, #8E57FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
}

/* line 99, ../../P3_Radacina_Brandy/sass/style.scss */
#leChicALaFrancaise p {
  color: #d28e42;
  font-family: "Croissant One", cursive;
  font-size: 25px;
  font-weight: bolder;
}

/* line 103, ../../P3_Radacina_Brandy/sass/style.scss */
#LeDeliceDesPapilles {
  background-color: #f9f9f9;
}

/* line 105, ../../P3_Radacina_Brandy/sass/style.scss */
#LeDeliceDesPapilles h3 {
  background: linear-gradient(to right, #1541DE, #55B3F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LeDelice';
  font-size: 25px;
  letter-spacing: 1px;
}

/* line 108, ../../P3_Radacina_Brandy/sass/style.scss */
#LeDeliceDesPapilles p {
  color: #108bfb;
  font-family: 'ThirdMenu', cursive;
  font-size: 25px;
  font-weight: bolder;
}

/* line 112, ../../P3_Radacina_Brandy/sass/style.scss */
#LaPaletteDuGout {
  background-color: #fdfffd;
}

/* line 114, ../../P3_Radacina_Brandy/sass/style.scss */
#LaPaletteDuGout h4 {
  background: linear-gradient(to right, #38842C, #AFF76C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LePalette';
  font-size: 25px;
  letter-spacing: 1px;
}

/* line 117, ../../P3_Radacina_Brandy/sass/style.scss */
#LaPaletteDuGout p {
  color: #7dc463;
  font-family: 'ForthMenu';
  font-size: 25px;
  font-weight: bolder;
}

/* line 123, ../../P3_Radacina_Brandy/sass/style.scss */
.container__prochainement {
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* line 129, ../../P3_Radacina_Brandy/sass/style.scss */
.container__prochainement .container__prochainement--element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 22px;
  cursor: pointer;
  margin: auto;
  border-radius: 10px;
  width: 350px;
}

/* line 142, ../../P3_Radacina_Brandy/sass/style.scss */
.points {
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
}

/* line 147, ../../P3_Radacina_Brandy/sass/style.scss */
.point {
  background-color: #fdcb46;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 10px;
}

/* line 155, ../../P3_Radacina_Brandy/sass/style.scss */
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  position: fixed;
  line-height: 3rem;
  height: 80px;
  background-color: #579c87;
  margin-top: 50px;
}

/* line 165, ../../P3_Radacina_Brandy/sass/style.scss */
footer a {
  color: #fdcb46;
  font-size: 25.5px;
  margin-top: 20px;
}

/* line 173, ../../P3_Radacina_Brandy/sass/style.scss */
.CenterTextAlignLaNote {
  text-align: center;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

/* line 178, ../../P3_Radacina_Brandy/sass/style.scss */
section {
  display: block;
}

/* line 182, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaNoteEnchanteeSingle {
  width: 60%;
  background-color: #fcdfdb;
  margin: auto;
  margin-bottom: 130px;
}

/* line 188, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaNoteEnchanteeSingle .MiseEnPage, .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
  font-family: 'LaNote--Menu';
  font-weight: bolder;
}

/* line 192, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaNoteEnchanteeSingle h2 {
  color: #4e252a;
  font-family: "LaNote";
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

/* line 197, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaNoteEnchanteeSingle .img__header {
  text-align: center;
}

/* line 201, ../../P3_Radacina_Brandy/sass/style.scss */
.MiseEnPage {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

/* line 209, ../../P3_Radacina_Brandy/sass/style.scss */
.element__titres-et-images {
  font-weight: bolder;
}

/* line 212, ../../P3_Radacina_Brandy/sass/style.scss */
.element__Prix-et-Contenu:nth-child(1),
.element__Prix-et-Contenu:nth-child(3),
.element__Prix-et-Contenu:nth-child(5),
.element__Prix-et-Contenu:nth-child(7) {
  display: flex;
  flex-basis: 60%;
  text-align: left;
  font-size: 14px;
}

/* line 220, ../../P3_Radacina_Brandy/sass/style.scss */
.element__Prix-et-Contenu-alpha {
  padding-left: 102px;
  font-weight: bolder;
}

/* line 224, ../../P3_Radacina_Brandy/sass/style.scss */
.footer__laNote-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 230, ../../P3_Radacina_Brandy/sass/style.scss */
.footer__laNote-img img {
  width: 7%;
}

/* line 233, ../../P3_Radacina_Brandy/sass/style.scss */
.footer__laNote-img h3 {
  color: #4e252a;
  font-family: "LaNote";
  font-size: 25px;
  letter-spacing: 1px;
}

/* line 239, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LeChicSingle {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #fff5fe;
  font-family: 'Times New Roman', Times, serif;
}

/* line 244, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LeChicSingle h2 {
  background: radial-gradient(circle at top left, #C77427, #8E57FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

/* line 250, ../../P3_Radacina_Brandy/sass/style.scss */
.colorLeChicFirst-MENU {
  color: #cc822b;
  font-weight: bolder;
}

/* line 254, ../../P3_Radacina_Brandy/sass/style.scss */
.colorLeChicSecond-MENU {
  color: #a56799;
  font-weight: bolder;
}

/* line 258, ../../P3_Radacina_Brandy/sass/style.scss */
.colorLeChicThird-MENU {
  color: #a277c6;
  font-weight: bolder;
}

/* line 264, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LeDeliceSingle {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #f9f9f9;
}

/* line 267, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LeDeliceSingle .MiseEnPage {
  font-family: 'LeDelice', cursive;
  font-weight: bolder;
}

/* line 271, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LeDeliceSingle h1 {
  background: linear-gradient(to right, #1541DE, #55B3F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LeDelice';
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

/* line 279, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaPaletteSingle {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #fdfffd;
  font-family: 'Times New Roman', Times, serif;
}

/* line 283, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaPaletteSingle .MiseEnPage {
  font-family: 'LaPalette';
  font-weight: bolder;
}

/* line 287, ../../P3_Radacina_Brandy/sass/style.scss */
.contenu__LaPaletteSingle h1 {
  background: linear-gradient(to right, #38842C, #AFF76C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LePalette';
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

@media (max-width: 1483px) {
  /* line 299, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu {
    width: 89%;
  }
  /* line 303, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  /* line 305, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 90px;
  }
  /* line 309, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 256px;
  }
  /* line 315, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 318, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 97px;
    font-size: 17px;
  }
  /* line 324, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 156px;
  }
  /* line 329, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 17px;
  }
  /* line 335, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 338, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 17px;
  }
  /* line 343, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 251px;
  }
  /* line 348, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 17px;
  }
  /* line 354, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 357, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 17px;
  }
  /* line 362, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 251px;
  }
  /* line 367, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  /* line 378, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home {
    height: 500px;
    width: 40%;
  }
  /* line 384, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  /* line 386, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 63px;
  }
  /* line 390, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 106px;
  }
  /* line 396, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 399, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 67px;
    font-size: 15px;
  }
  /* line 405, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 126px;
  }
  /* line 410, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 15px;
  }
  /* line 415, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 418, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 15px;
  }
  /* line 423, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 150px;
  }
  /* line 428, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 15px;
  }
  /* line 434, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 437, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 15px;
  }
  /* line 442, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 150px;
  }
  /* line 447, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  /* line 458, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home {
    height: 300px;
    width: 65%;
  }
  /* line 461, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home h1 {
    font-size: 17px;
  }
  /* line 468, ../../P3_Radacina_Brandy/sass/style.scss */
  .container__prochainement .container__prochainement--element {
    width: 250px;
  }
  /* line 473, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  /* line 475, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 20px;
  }
  /* line 479, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 106px;
  }
  /* line 485, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 487, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 35px;
    font-size: 12px;
  }
  /* line 491, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images {
    font-size: 13px;
  }
  /* line 495, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 94px;
  }
  /* line 500, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  /* line 503, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle h2 {
    font-size: 25px;
  }
  /* line 509, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 511, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  /* line 516, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 126px;
  }
  /* line 521, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  /* line 527, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 529, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  /* line 534, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 126px;
  }
  /* line 539, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  /* line 550, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home {
    height: 285px;
    width: 60%;
  }
  /* line 553, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home h1 {
    font-size: 17px;
  }
  /* line 559, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  /* line 561, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 20px;
  }
  /* line 565, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 106px;
  }
  /* line 572, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 574, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 27px;
    font-size: 12px;
  }
  /* line 578, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images {
    font-size: 13px;
  }
  /* line 580, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 74px;
  }
  /* line 585, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  /* line 590, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 592, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  /* line 597, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 101px;
  }
  /* line 602, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  /* line 608, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 610, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  /* line 615, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 101px;
  }
  /* line 620, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  /* line 631, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home {
    height: 285px;
    width: 65%;
  }
  /* line 634, ../../P3_Radacina_Brandy/sass/style.scss */
  .les__menu .container__home h1 {
    font-size: 15px;
  }
  /* line 640, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle {
    width: 100%;
  }
  /* line 642, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 20px;
  }
  /* line 646, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 76px;
  }
  /* line 652, ../../P3_Radacina_Brandy/sass/style.scss */
  footer a {
    font-size: 21px;
  }
  /* line 657, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 659, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 27px;
    font-size: 12px;
  }
  /* line 663, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images {
    font-size: 13px;
  }
  /* line 665, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 74px;
  }
  /* line 670, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  /* line 673, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeChicSingle h2 {
    font-size: 25px;
  }
  /* line 678, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 680, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  /* line 685, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 74px;
  }
  /* line 690, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  /* line 698, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  /* line 701, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  /* line 706, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 74px;
  }
  /* line 711, ../../P3_Radacina_Brandy/sass/style.scss */
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
}

/* line 721, ../../P3_Radacina_Brandy/sass/style.scss */
.zoom__hover {
  transition: 400ms all ease;
}

/* line 723, ../../P3_Radacina_Brandy/sass/style.scss */
.zoom__hover:hover {
  transform: scale(1.3);
  opacity: 0.5;
  background-color: transparent;
}

/* line 730, ../../P3_Radacina_Brandy/sass/style.scss */
footer > div a:hover {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-name: footer-components;
}

@keyframes footer-components {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

/* line 755, ../../P3_Radacina_Brandy/sass/style.scss */
.point-un {
  animation: point-un 1000ms 110ms ease infinite;
}

/* line 758, ../../P3_Radacina_Brandy/sass/style.scss */
.point-deux {
  animation: point-deux 1000ms 120ms ease infinite;
}

/* line 761, ../../P3_Radacina_Brandy/sass/style.scss */
.point-trois {
  animation: point-trois 1000ms 130ms ease infinite;
}

@keyframes point-un {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes point-deux {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateZ(-10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes point-trois {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateZ(-15px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* line 806, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lanote > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid #461c22;
  transition: 500ms ease;
}

/* line 811, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lanote > h3:hover:after {
  width: 100%;
}

/* line 816, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lechic-un > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid #C77427;
  transition: 500ms ease;
}

/* line 821, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lechic-un > h3:hover:after {
  width: 100%;
}

/* line 825, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lechic-deux > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid #8E57FC;
  transition: 500ms ease;
}

/* line 830, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lechic-deux > h3:hover:after {
  width: 100%;
}

/* line 834, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lechic-trois > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid #6824f0;
  transition: 500ms ease;
}

/* line 839, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lechic-trois > h3:hover:after {
  width: 100%;
}

/* line 844, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-ledelice > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid #1541DE;
  transition: 500ms ease;
}

/* line 849, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-ledelice > h3:hover:after {
  width: 100%;
}

/* line 855, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lapalette > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 2px solid #AFF76C;
  transition: 500ms ease;
}

/* line 860, ../../P3_Radacina_Brandy/sass/style.scss */
.border-bottom-lapalette > h3:hover:after {
  width: 100%;
}

/* line 864, ../../P3_Radacina_Brandy/sass/style.scss */
.mention-main {
  text-align: center;
  width: 100%;
}

/* line 870, ../../P3_Radacina_Brandy/sass/style.scss */
.img-lanote {
  width: 40%;
}

/*# sourceMappingURL=style.css.map */