@font-face {
  font-family: "LaNote";
  src: url("/sass/fonts/MaShanZheng-Regular.ttf");
}

@font-face {
  font-family: "LaNote--Menu";
  src: url("/sass/fonts/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "LeDelice";
  src: url("/sass/fonts/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "ThirdMenu";
  src: url("/sass/fonts/Caveat-Regular.ttf");
}

@font-face {
  font-family: "LaPalette";
  src: url("/sass/fonts/ArchitectsDaughter-Regular.ttf");
}

@font-face {
  font-family: "ForthMenu";
  src: url("/sass/fonts/Sacramento-Regular.ttf");
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

header {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
  margin-top: -21px;
}

header .logo {
  text-align: center;
  line-height: 3em;
}

header a {
  color: #fdcb46;
}

main {
  display: block;
}

.les__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 65%;
  margin: auto;
}

.img__HomeNote {
  margin-bottom: -50px;
}

.container__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 400px;
  height: 650px;
  margin: 15px;
  font-size: 20px;
  -webkit-box-shadow: 0px 3px 15px 4px #0000003f;
          box-shadow: 0px 3px 15px 4px #0000003f;
}

.container__home:hover {
  -webkit-box-shadow: 0px 3px 15px 6px #00000025;
          box-shadow: 0px 3px 15px 6px #00000025;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 100%;
}

#laNoteEnchantee {
  background-color: #fcdfdb;
}

#laNoteEnchantee h1 {
  color: #4e252a;
  font-family: "LaNote";
  font-size: 25px;
  letter-spacing: 1px;
}

#laNoteEnchantee p {
  color: #461c22;
  font-family: 'Helvetica', cursive;
  font-size: 25px;
  font-weight: bolder;
}

#leChicALaFrancaise {
  background-color: #fff5fe;
}

#leChicALaFrancaise h2 {
  background: radial-gradient(circle at top left, #C77427, #8E57FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
}

#leChicALaFrancaise p {
  color: #d28e42;
  font-family: "Croissant One", cursive;
  font-size: 25px;
  font-weight: bolder;
}

#LeDeliceDesPapilles {
  background-color: #f9f9f9;
}

#LeDeliceDesPapilles h3 {
  background: -webkit-gradient(linear, left top, right top, from(#1541DE), to(#55B3F8));
  background: linear-gradient(to right, #1541DE, #55B3F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LeDelice';
  font-size: 25px;
  letter-spacing: 1px;
}

#LeDeliceDesPapilles p {
  color: #108bfb;
  font-family: 'ThirdMenu', cursive;
  font-size: 25px;
  font-weight: bolder;
}

#LaPaletteDuGout {
  background-color: #fdfffd;
}

#LaPaletteDuGout h4 {
  background: -webkit-gradient(linear, left top, right top, from(#38842C), to(#AFF76C));
  background: linear-gradient(to right, #38842C, #AFF76C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LePalette';
  font-size: 25px;
  letter-spacing: 1px;
}

#LaPaletteDuGout p {
  color: #7dc463;
  font-family: 'ForthMenu';
  font-size: 25px;
  font-weight: bolder;
}

.container__prochainement {
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__prochainement .container__prochainement--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-size: 12px;
  cursor: pointer;
  margin: auto;
  border-radius: 5%;
  width: 350px;
}

.points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
}

.point {
  background-color: #fdcb46;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  bottom: 0;
  position: fixed;
  line-height: 3rem;
  height: 80px;
  background-color: #579c87;
  margin-top: 50px;
}

footer a {
  color: #fdcb46;
  font-size: 25.5px;
  margin-top: 20px;
}

.CenterTextAlignLaNote {
  text-align: center;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

section {
  display: block;
}

.contenu__LaNoteEnchanteeSingle {
  width: 60%;
  background-color: #fcdfdb;
  margin: auto;
  margin-bottom: 130px;
}

.contenu__LaNoteEnchanteeSingle .MiseEnPage, .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
  font-family: 'LaNote--Menu';
  font-weight: bolder;
}

.contenu__LaNoteEnchanteeSingle h2 {
  color: #4e252a;
  font-family: "LaNote";
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

.contenu__LaNoteEnchanteeSingle .img__header {
  text-align: center;
}

.MiseEnPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element__titres-et-images {
  font-weight: bolder;
}

.element__Prix-et-Contenu:nth-child(1),
.element__Prix-et-Contenu:nth-child(3),
.element__Prix-et-Contenu:nth-child(5),
.element__Prix-et-Contenu:nth-child(7) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: left;
  font-size: 14px;
}

.element__Prix-et-Contenu-alpha {
  padding-left: 102px;
  font-weight: bolder;
}

.footer__laNote-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__laNote-img img {
  width: 7%;
}

.footer__laNote-img h3 {
  color: #4e252a;
  font-family: "LaNote";
  font-size: 25px;
  letter-spacing: 1px;
}

.contenu__LeChicSingle {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #fff5fe;
  font-family: 'Times New Roman', Times, serif;
}

.contenu__LeChicSingle h2 {
  background: radial-gradient(circle at top left, #C77427, #8E57FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

.colorLeChicFirst-MENU {
  color: #cc822b;
  font-weight: bolder;
}

.colorLeChicSecond-MENU {
  color: #a56799;
  font-weight: bolder;
}

.colorLeChicThird-MENU {
  color: #a277c6;
  font-weight: bolder;
}

.contenu__LeDeliceSingle {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #f9f9f9;
}

.contenu__LeDeliceSingle .MiseEnPage {
  font-family: 'LeDelice', cursive;
  font-weight: bolder;
}

.contenu__LeDeliceSingle h1 {
  background: -webkit-gradient(linear, left top, right top, from(#1541DE), to(#55B3F8));
  background: linear-gradient(to right, #1541DE, #55B3F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LeDelice';
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

.contenu__LaPaletteSingle {
  width: 60%;
  padding-bottom: 20px;
  margin: auto;
  background-color: #fdfffd;
  font-family: 'Times New Roman', Times, serif;
}

.contenu__LaPaletteSingle .MiseEnPage {
  font-family: 'LaPalette';
  font-weight: bolder;
}

.contenu__LaPaletteSingle h1 {
  background: -webkit-gradient(linear, left top, right top, from(#38842C), to(#AFF76C));
  background: linear-gradient(to right, #38842C, #AFF76C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'LePalette';
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 35px;
}

@media (max-width: 1326px) {
  .les__menu {
    width: 99%;
  }
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 90px;
  }
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 156px;
  }
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 97px;
    font-size: 17px;
  }
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 251px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 17px;
  }
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 17px;
  }
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 251px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 17px;
  }
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 17px;
  }
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 251px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .les__menu .container__home {
    height: 500px;
    width: 40%;
  }
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 63px;
  }
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 106px;
  }
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 67px;
    font-size: 15px;
  }
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 150px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 15px;
  }
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 15px;
  }
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 150px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 15px;
  }
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 15px;
  }
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 150px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .les__menu .container__home {
    height: 300px;
    width: 65%;
  }
  .les__menu .container__home h1 {
    font-size: 17px;
  }
  .container__prochainement .container__prochainement--element {
    width: 250px;
  }
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 20px;
  }
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 106px;
  }
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 35px;
    font-size: 12px;
  }
  .contenu__LeChicSingle .element__titres-et-images {
    font-size: 13px;
  }
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 126px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  .contenu__LeChicSingle h2 {
    font-size: 25px;
  }
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 126px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 126px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .les__menu .container__home {
    height: 285px;
    width: 60%;
  }
  .les__menu .container__home h1 {
    font-size: 17px;
  }
  .contenu__LaNoteEnchanteeSingle {
    width: 95%;
  }
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 20px;
  }
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 106px;
  }
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 27px;
    font-size: 12px;
  }
  .contenu__LeChicSingle .element__titres-et-images {
    font-size: 13px;
  }
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 101px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 101px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 101px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .les__menu .container__home {
    height: 285px;
    width: 65%;
  }
  .les__menu .container__home h1 {
    font-size: 15px;
  }
  .contenu__LaNoteEnchanteeSingle {
    width: 100%;
  }
  .contenu__LaNoteEnchanteeSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 20px;
  }
  .contenu__LaNoteEnchanteeSingle .element__titres-et-images img {
    width: 76px;
  }
  footer a {
    font-size: 21px;
  }
  .contenu__LeChicSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu-alpha {
    padding: 0px 0px 0px 27px;
    font-size: 12px;
  }
  .contenu__LeChicSingle .element__titres-et-images {
    font-size: 13px;
  }
  .contenu__LeChicSingle .element__titres-et-images img {
    width: 74px;
  }
  .contenu__LeChicSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  .contenu__LeChicSingle h2 {
    font-size: 25px;
  }
  .contenu__LeDeliceSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  .contenu__LeDeliceSingle .element__titres-et-images img {
    width: 74px;
  }
  .contenu__LeDeliceSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
  .contenu__LaPaletteSingle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu-alpha {
    font-size: 12px;
  }
  .contenu__LaPaletteSingle .element__titres-et-images img {
    width: 74px;
  }
  .contenu__LaPaletteSingle .element__Prix-et-Contenu {
    font-size: 12px;
  }
}

.zoom__hover {
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.zoom__hover:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0.5;
  background-color: transparent;
}

footer > div a:hover {
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: footer-components;
          animation-name: footer-components;
}

@-webkit-keyframes footer-components {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes footer-components {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

.point-un {
  -webkit-animation: point-un 1000ms 110ms ease infinite;
          animation: point-un 1000ms 110ms ease infinite;
}

.point-deux {
  -webkit-animation: point-deux 1000ms 120ms ease infinite;
          animation: point-deux 1000ms 120ms ease infinite;
}

.point-trois {
  -webkit-animation: point-trois 1000ms 130ms ease infinite;
          animation: point-trois 1000ms 130ms ease infinite;
}

@-webkit-keyframes point-un {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes point-un {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes point-deux {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes point-deux {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateZ(-10px);
            transform: translateZ(-10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes point-trois {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateZ(-15px);
            transform: translateZ(-15px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes point-trois {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateZ(-15px);
            transform: translateZ(-15px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.border-bottom-lanote > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 5px solid #461c22;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.border-bottom-lanote > h3:hover:after {
  width: 100%;
}

.border-bottom-lechic-un > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 5px solid #C77427;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.border-bottom-lechic-un > h3:hover:after {
  width: 100%;
}

.border-bottom-lechic-deux > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 5px solid #8E57FC;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.border-bottom-lechic-deux > h3:hover:after {
  width: 100%;
}

.border-bottom-lechic-trois > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 5px solid #6824f0;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.border-bottom-lechic-trois > h3:hover:after {
  width: 100%;
}

.border-bottom-ledelice > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 5px solid #1541DE;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.border-bottom-ledelice > h3:hover:after {
  width: 100%;
}

.border-bottom-lapalette > h3:after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 5px solid #AFF76C;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.border-bottom-lapalette > h3:hover:after {
  width: 100%;
}

.mention-main {
  text-align: center;
  width: 100%;
}

.img-lanote {
  width: 40%;
}
/*# sourceMappingURL=style.css.map */